# Ignore Python cache and bytecode
__pycache__/
*.pyc

# Ignore virtual environment folders
venv/
env/
.venv/

# Ignore OS files
.DS_Store

# Ignore VSCode config (optional)
.vscode/

# Ignore installed packages (if any are accidentally committed)
*.egg-info/
*.dist-info/
